<header>
  <div class="header-container">
<!--
<div class="logo-section">
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Classic City Band Logo">
  </a>
</div>
-->
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/concerts' | relative_url }}">Performances</a></li>
        <li><a href="{{ '/bigbandathens' | relative_url }}">Big Band Athens</a></li>
        <li><a href="{{ '/carnegie-hall' | relative_url }}" style="color: #d4af37; font-weight: bold;">Carnegie Hall, June 2026!</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/join' | relative_url }}">Join Us</a></li>
        <li><a href="{{ '/support' | relative_url }}">Support the Band</a></li>
        <li><a href="{{ '/members' | relative_url }}">CCB Members</a></li>
      </ul>
    </nav>
  </div>
</header>
