<header>
  <div class="header-container">
<div class="header-container">
  <a href="{{ '/' | relative_url }}" class="logo-link">
    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Classic City Band Logo" class="header-logo">
  </a>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/concerts' | relative_url }}">Performances</a></li>
        <li><a href="{{ '/bigbandathens' | relative_url }}">Big Band Athens</a></li>
        <li><a href="{{ '/carnegie2026' | relative_url }}">We Played Carnegie Hall, June 2026!</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/join' | relative_url }}">Join Us</a></li>
        <li><a href="{{ '/support' | relative_url }}" style="color: #000000; font-weight: bold;">Donate or Sponsor</a></li>
        <li><a href="{{ '/members' | relative_url }}">CCB Members</a></li>
      </ul>
    </nav>
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ '/assets/images/favicon-48x48.png' | relative_url }}">
  </div>
</header>
