<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/images/logo.png' | relative_url }}">
  
  <!-- PayPal SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=BAAXwu_0XW_XO3FVUWcK93Cpu8U5B5pQGb1d-XSwGW_4JHWZtfQDffIec4XAolOe5rmQo2vhVnej18lnnU&components=hosted-buttons&enable-funding=venmo&currency=USD"></script>
</head>
<body>
  {% include header.html %}
  
  {{ content }}
  
  {% include footer.html %}
</body>
</html>
